@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */

@layer base {
  html {
    @apply antialiased;
  }

  h1 {
    font-size: 24px;
    @apply font-medium font-kanit;
  }

  h2 {
    font-size: 16px;
    @apply font-medium font-kanit;
  }

  p {
    font-size: 16px;
    @apply font-light font-sarabun;
  }
}