@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }
}

@layer utilities {
  .heading1 {
    @apply text-2xl font-medium font-kanit;
  }

  .heading2 {
    @apply text-base font-medium font-kanit;
  }

  .text-body {
    font-size: 16px;
    @apply font-light font-sarabun;
  }

  .text-error {
    @apply text-sm font-light font-sarabun;
  }

  .sub-heading1 {
    font-size: 0.875rem;
    @apply font-medium font-kanit;
  }

  .sub-heading2 {
    @apply text-xs font-bold font-sarabun;
  }

  .caption1 {
    font-size: 12px;
    @apply font-light font-sarabun;
  }

  .caption2 {
    font-size: 0.5rem;
    @apply font-light font-sarabun;
  }

  .caption3 {
    font-size: 0.5rem;
    @apply text-xs font-medium font-kanit;
  }

  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .absolute-start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
  }

  @variants group-hover,
  active {
    .brightness-95 {
      filter: brightness(95%);
    }

    .brightness-80 {
      filter: brightness(80%);
    }
  }
}