@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }
}

@layer utilities {
  .heading1 {
    @apply text-2xl font-medium font-innovasive-ui-label;
  }

  .heading2 {
    @apply text-base font-medium font-innovasive-ui-label;
  }

  .text-body {
    @apply text-base font-light font-innovasive-ui-value;
  }

  .text-error {
    @apply text-sm font-light font-innovasive-ui-value;
  }

  .sub-heading1 {
    font-size: 0.875rem;
    @apply font-medium font-innovasive-ui-label;
  }

  .sub-heading2 {
    @apply text-xs font-bold font-innovasive-ui-value;
  }

  .caption1 {
    font-size: 12px;
    @apply font-light font-innovasive-ui-value;
  }

  .caption2 {
    font-size: 0.5rem;
    @apply font-light font-innovasive-ui-value;
  }

  .caption3 {
    font-size: 0.5rem;
    @apply text-xs font-medium font-innovasive-ui-label;
  }

  .inno-label {
    @apply sub-heading1;
  }

  .inno-placeholder {
    @apply caption1;
  }

  .inno-options-small {
    @apply caption1;
  }

  .inno-options-default {
    @apply text-body;
  }

  @variants group-hover,
  active {
    .brightness-95 {
      filter: brightness(95%);
    }

    .brightness-80 {
      filter: brightness(80%);
    }
  }
}